<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<form name="f" th:method="post" action="/process_login">
    <label for="username">Enter Username: </label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">Enter Password: </label>
    <input type="password" id="password" name="password">
    <br>
    <input type="submit" value="Login">

    <div th:if="${param.error}" style="color: darkred">
        Incorrect name or password
    </div>
</form>



</body>
</html>