<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Shopping Website</title>
</head>
<body>
<h2>Товары со всей России</h2>
<form action="/" method="get">
    <label for="title">Search: </label>
    <input type="text" name="title" id="title">
    <input type="submit" value="Поиск">
</form>

<div th:each="product : ${products}">
    <a th:text="${product.getTitle()} + ' ' + ${product.getPrice()} + 'руб.'" th:href="@{/product/{id}(id=${product.getId()})}">Подробнее..</a>
</div>

<h1>Создать новый товар</h1>

<form th:method="POST" th:action="@{/product/create}">
    <label for="title1">Название продукта: </label>
    <input type="text" name="title" id="title1">
    <br>
    <label for="price">Цена: </label>
    <input type="number" name="price" id="price">
    <br>
    <label for="city">Город: </label>
    <input type="text" name="city" id="city">
    <br>
    <label for="description">Описание: </label>
    <input type="text" name="description" id="description">
    <br>
    <label for="author">Ваше Имя: </label>
    <input type="text" name="author" id="author">
    <br>
    <input type="submit" value="Create!">
</form>
</body>
</html>
